#contact {
  background-color: #f08c7b;
}

.form {
  width: 50vw;
}

.hidden {
  opacity: 0;
  height: 50px;
}

.validationInfo {
  color: ghostwhite;
  font-family: Ubuntu, Source Sans pro, Helvetica, sans-serif;
  transition: opacity 0.5s ease-in-out;
}

@media (max-width: 600px) {
  .form {
    width: 95%;
  }
}
